.ArticleById__div {
  padding: 0 1em;
  margin-bottom: 1em;
}

.ArticleById__button {
  color: white;
  background-color: darkgreen;
  border-radius: 0.3em;
  padding: 0.1em;
  border: 1px solid black;
  font-weight: bolder;
  font-size: 1em;
}

.ArticleById__p--successful,
.ArticleById__p--failed {
  font-weight: bolder;
  padding: 0.2em;
}

.ArticleById__p--successful {
  color: green;
}

.ArticleById__p--failed {
  color: red;
}
