.DeleteComment__p {
  font-size: 1.2em;
  padding: 0.2em;
  font-weight: bolder;
}

.DeleteComment__p--msgFail {
  color: red;
}

.DeleteComment__button--yes,
.DeleteComment__button--no {
  color: white;
  border-radius: 0.3em;
  padding: 0.1em;
  border: 1px solid black;
  font-weight: bolder;
  margin-top: 0.5em;
  font-size: 1em;
  width: 3em;
}

.DeleteComment__button--yes {
  background-color: red;
}

.DeleteComment__button--no {
  background-color: green;
  margin-bottom: 0.5em;
}
