.ArticleCard {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid lightgray;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 100px auto;
}

.ArticleCard__div {
  margin: auto;
}

.ArticleCard__span {
  color: darkorange;
  font-weight: bolder;
}
