.nav {
  grid-area: "nav";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em;
}

.nav2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em;
}

.nav-link {
  text-transform: capitalize;
}
